body {
  margin: 0;
  font-family: 'PT Sans', 'Poppins', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.bg-primary {
  background-color: #232b38;
}
.bg-danger {
  background-color: #d9062f;
}

.txt-primary {
  color: #232b38;
}
.txt-danger {
  color: #d9062f;
}
.mb-3 {
  margin-bottom: 1rem!important;
}
.p-l-0{
  padding-left:0 !important;
}
.p-0{
  padding:0 !important;
}
.container {
  max-width: 90%;
}

header {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  background: #232b38;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
}
.logoWrap {
  padding: 8px 0;
}
.navWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navWrap li {
  display: inline-block;
  padding: 16px 20px;
}

.navWrap li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.6px;
  outline: none;
}
.navWrap li a:hover {
  color: #d9062f;
}
.accountWrap li {
  padding: 0;
}
.divider {
  margin: 0 6px;
}
.faIcon{
  font-size: 16px;
  margin-right: 5px;
  vertical-align: bottom;
}

.captionText {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 10% auto 10px;
  text-transform: uppercase;
  text-shadow: 0 2px 5px #000;
}

.bannerImg > img {
  width: 100%;
  object-fit: initial;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
